        * {
            box-sizing: border-box
        }
        
        nav {
            color: #DCDCDC;
            background-color: #027E3F;
            font-size: 1em;
            margin-top: -6em;
        }
        
        nav > ul {
            list-style-type: none;
            display: flex;
            flex-flow: row wrap;
            line-height: 3em;
            padding-left: 10em;
            margin: 0;
        }
        
        nav li {
            flex: 1 1 8em
        }
        
        nav a {
            display: block
        }
        
        nav a:link {
            color: #E0760E;
            text-decoration: none;
        }
        
        nav a:visited {
            color: #DCDCDC;
            text-decoration: none;
        }
        
        nav a:hover {
            color: #174295;
            text-decoration: underline;
        }
        
        .logo {
            background-color: white;
            position: relative;
            width: 110px;
            border: 2px solid #174295;
            margin-left: 20px
        }
        
        a {
            color: #E0760E;
            text-decoration: none;
        }
        
        #relax {
            color: #174295;
            background-color: #FFFFFF
        }
        
        #rush {
            color: #DCDCDC;
            background-color: #174295
        }
        
        #come-run {
            color: #174295;
            background-color: #FFFFFF;
        }
        
        footer {
            color: #DCDCDC;
            background-color: #174295;
            display: flex;
            flex-flow: row wrap;
            flex: 1 1 20em;
            padding: 8px;
        }
        
        h2 {
            color: #E0760E;
            margin-bottom: 1px;
        }
        
        h1 {
            color: #027E3F;
            margin-bottom: 1px
        }
        
        h1,
        h2 {
            font-family: copperplate, Impact, sans-serif;
        }
        
        body {
            font-family: Klee, "Comic Sans MS", sans-serif;
        }
        
        .content {
            width: 80%;
            max-width: 960px;
            margin: 0 auto;
        }
        
        #come-run {
            text-align: center;
            width: 80%;
            margin: auto;
        }
        
        #relax,
        #rush {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }
        
        section {
            padding: 15px;
        }
        
        p {
            line-height: 2;
            margin-top: 1px;
        }
        
        .leftcol,
        .rightcol {
            width: 48%;
            flex: 1 0 15em;
            margin: .5em
        }
        
        img {
            max-width: 100%
        }
        
        .opening img {
            width: 100%
        }